<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>@ViewData["Title"] - Bug Tracker</title>
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </head>

    <body>

        <div class="container-fluid">
            
            <div class="row flex-row">
                <div class="col col-2 flex-column">
                    <nav>
                        <ul>
                            <li>
                                <a asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                            </li>
                            <li>
                                <a asp-area="" asp-controller="Bugs" asp-action="Index">Bugs</a>
                            </li>
                                <partial name="_LoginPartial" />
                        </ul>
                    </nav>
                </div>

                <div class="col col-10 flex-column">
                    <header class="text-center">
                        <h1>Welcome to the Bug Tracker.</h1>
                    </header>

                    <main>
                        @RenderBody()
                    </main>

                    <footer class="text-center">
                        Created by William Olive, JR
                    </footer>
                </div>

            </div>
        </div>
    </body>
</html>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
@await RenderSectionAsync("Scripts", required: false)