<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>@ViewData["Title"] - Bug Tracker</title>
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </head>

    <body>

        <div class="container-fluid"  style="border:dotted">
            <div class="row" style="border:dotted">
                <div class="col-2 flex-column flex-grow-1" style="border:dotted">
                    <div>
                        <a asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                    </div>
                    <div>
                        <a asp-area="" asp-controller="Bugs" asp-action="Index">Bugs</a>
                    </div>
                    <div>
                        <partial name="_LoginPartial" />
                    </div>
                </div>

                <div class="col-10 flex-column flex-grow-1" style="border:dotted">
                    <div class="text-center">
                        <h1>Welcome to the Bug Tracker.</h1>
                    </div>

                    <div>
                        @RenderBody()
                    </div>

                    <div class="text-center">
                        Created by William Olive, JR
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
@await RenderSectionAsync("Scripts", required: false)