<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>@ViewData["Title"] - Bug Tracker</title>
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </head>

    <body>
        <div id="Layout" style="    display: flex; flex-direction: column; flex: 1; justify-content: space-around; padding: 2% 2% 2% 2%; margin: 1rem 1rem 1rem 1rem">
            <header>
                <h1 style="text-align:center; margin: 2% 2% 2% 2%;">Welcome to the Bug Tracker.</h1>
            </header>

            <div style="display:flex; flex-direction:row;">
                <nav style="margin: 2% 2% 2% 2%;">
                    <ul>
                        <li>
                            <a asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li>
                            <a asp-area="" asp-controller="Bugs" asp-action="Index">Bugs</a>
                        </li>
                    </ul>
                    <ul>
                        <partial name="_LoginPartial" />
                    </ul>
                </nav>
                <div style="margin: 2% 2% 2% 2%;">
                    <main>
                        @RenderBody()
                    </main>
                </div>

            </div>



        </div>
    </body>
</html>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
@await RenderSectionAsync("Scripts", required: false)