<html>
    <head>
        <title></title>
    </head>

    <body>
        <header>
            <nav>
                <ul>
                    <li>Home</li>
                    <li>Bug Tracker</li>
                    <li>Privacy</li>
                </ul>
                <ul>
                    <li>User Settings</li>
                    <li>Your Bug Submissions</li>
                    <li>Log Out</li>
                </ul>
            </nav>
        </header>
        
        <div>

        </div>
        
        <footer>
        </footer>
    </body>
</html>