html {
    box-sizing: border-box;
}

.container-fluid {
    display: flex;
    height: 100vh;
    background-color: whitesmoke;
    padding: 1rem 2rem 1rem 2rem;
}

#Master {
    display: flex;
    flex-wrap: wrap;
}

#SideBar {
    background-color:darkgray;
    height:100%;
}

#Header {
}

#NavItem {

}

#Footer {
}

#MainContent {
    margin: 0rem 1rem 0rem 1rem;
}

#Body {
}

table {
}

#CreateButton{
    display: flex;
    flex-shrink: 0;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    min-width: 280px;
    max-width: 560px;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}
