html {
    box-sizing: border-box;
}

.container-fluid {
    display:flex;
    border:dotted;
    border-color:black;
    height:100vh;
}

.row {
    height: 100%;
    border: dotted;
    border-color: green;
}

.col {
    height: 100%;
    border: solid;
    border-color: green;
}

nav {


}

ul {
    list-style: none;
}

li {
    background-color:whitesmoke;
}

header {
    margin-top: auto;
}

main {
    display: flex;
}

footer {
    margin-bottom: auto;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}
