html{
    box-sizing:border-box;
}

body {
}

#Layout {
    display:flex;
    flex-direction: row;
    flex-basis: 90ch;
}

.Content {
    flex-basis: 0;
    display: flex;
    align-content: stretch;
    flex-grow: 999;
}

#Header {
    display: flex;
    flex-direction: row;
    font-size: 26px;
    z-index: 0;
    flex-direction: row;
    align-items: stretch;
}

#Main {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    flex-grow:2;
}

#Footer {
    display: flex;
    flex-direction: row;
    font-size: 26px;
    flex-direction: row;
    align-items: stretch;
}

#Navigation {
    flex-basis: 20rem;
    display: flex;
    flex-direction: column;
    flex-shrink: 1;
    background-color: gainsboro;
    align-items:stretch;
    flex-grow: 1;
}

#Nav1 {
    display: flex;
    flex-direction: column;
}

#Nav2 {
    display: flex;
    flex-direction: column;
}

#Nav3 {
    display: flex;
    flex-direction:column;
}



/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}
